.base-default{
  @apply flex items-center;

  &.button-small{
    @apply text-xs px-4 py-2
  }
  &.button-medium{
    @apply text-base px-4 py-2
  }
  &.button-large{
    @apply text-xl px-4 py-3
  }

  //Button Fill mode
  &.button-solid{
    @apply bg-gray-400
  }
  &.button-outline{
    @apply border border-gray-500
  }
  &.button-flat{
    @apply border border-transparent
  }

//  Button Theme
  &.button-base {
    @apply bg-gray-100 text-gray-900
  }
  &.button-primary {
    @apply bg-cyan-700 text-white
  }
  &.button-dark{
    @apply bg-gray-900 text-white
  }
  &.button-light{
    @apply bg-slate-100 text-gray-900
  }
  &.button-danger{
    @apply bg-red-500 text-white
  }
  &.button-text{
    @apply p-0 text-xs
  }
}